@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&family=Qwitcher+Grypen:wght@700&display=swap');
/*font-family: 'Fraunces', serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Qwitcher Grypen', serif;*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
  background-image: url('images/Wallpaper\ Sunday\ #9\ -\ Fablouise.jpg');
  background-repeat: no-repeat;
  background-size: cover;
    
    background-color: hsl(30, 38%, 92%);
    
}
.navbar {
    font-family:'Montserrat', sans-serif;
    overflow: hidden;
    background-color: #333;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
  }
  
  /* Links inside the navbar */
  .navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change background on mouse-over */
  .navbar a:hover {
    background: #ddd;
    color: black;
  }
  
  /* Main content */
  .main {
    margin-top: 30px; /* Add a top margin to avoid content overlay */
  }
  .container{
    width: 80%;
    margin: 50px auto;
  }
  .container h1{
    padding: 5px 0;
    font-family: 'Fraunces', serif;
    font-size: 30px;
    text-align: center;
  }
  .row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  .col{
    flex-basis: 50%;
    min-width: 250px;
  }
  .feature-img{
    width: 50%;
    margin: auto;
    position: relative;
    border-radius: 6px;
    overflow: hidden;
  }
  .small-img-row{
    display: flex;
    background: hsl(30, 38%, 92%);
    margin: 20px 0 ;
    align-items: center;
    border-radius: 6px;
    overflow: hidden;
    width: 85%;
  }
  .small-img{
    position: relative; 
  }
  .small-img img{
    width: 90px; 
  }
  .small-img-row p{
    margin-left: 20px;
    line-height: 22px;
    font-size: 15px;
  }
  .play-btn{
    width: 60px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    cursor: pointer;
  }
  .small-img .play-btn{
    width: 35px;
  }
  .video-player{
    width: 80%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    display: none;
  }
  video:focus{
    outline: none;
  }
  .close-btn{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    cursor: pointer;
  }